<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Welcome to my website.</h3>
                <h1>I am Henry Liu</h1>
                <h5>From Taichung, Taiwan. Based in San Diego.</h5>
                <h5>我覺得這是一個非常有趣的嘗試，打中文</h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/IMG_7037.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->