<div id="twrap">
    <div id="twrapback"></div>
    <div class="container centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            <i class="fa fa-comment-o"></i>
            <p><font size="7">{{ site.testimonial.message }}</font>></p>
            <h3><br/>{{ site.testimonial.author }}</h4>
            <p><font size="4">{{ site.testimonial.position }}</font>></p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/twrap -->